body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0077cc;
  color: white;
  padding: 10px 20px;
}

#searchForm {
  display: flex;
  gap: 5px;
}

#searchInput {
  padding: 5px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  padding: 20px;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

.product-card img {
  width: 100%;
  height: 150px;
  object-fit: contain;
}

button {
  background: #0077cc;
  color: white;
  border: none;
  padding: 8px 10px;
  cursor: pointer;
  border-radius: 3px;
}

button:hover {
  background: #005fa3;
}


.category-list {
  display: flex;
  gap: 10px;
  padding: 10px 20px;
  flex-wrap: wrap;
}

.category-item {
  padding: 6px 12px;
  border-radius: 20px;
  background: #eee;
  cursor: pointer;
  border: 1px solid #bbb;
}

.category-item:hover {
  background: #0077cc;
  color: white;
}




/* Price Filter Section */
.price-filter {
  padding: 20px;
  background: #f2f2f2;
  border-radius: 8px;
  margin: 20px;
}

.price-filter input[type="range"] {
  width: 100%;
}

.manual-price-inputs {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.manual-price-inputs input {
  padding: 5px;
  width: 120px;
}
